<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Error</title>
</head>
<body>
    <div class="alert alert-danger"  th:if="${FileUploadError} == 'Error Uploading File'">
        Error Uploading File. Duplicate uploads and empty file uploads are not allowed.
    </div>
   <a th:href="@{/home}">Go to home Page</a>
</body>
</html>